<?xml version="1.0" encoding="GBK"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds" packagingData="true">
    <contextName>masala-scheduler</contextName>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="log-daily" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>daily/mylog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>daily/scheduler%d{yyyyMMdd}.log.zip</FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%-5level][%thread]%logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 至多只能配置一个root -->
    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="log-daily"/>
    </root>
</configuration>